<div class="panel pt-panel pt-transactions-list">
    <div class="panel-heading">
        <span class="icon icon-briefcase"></span> Recent Transactions
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group filtering">
                    <input class="form-control" ng-model="$ctrl.filter" placeholder="Type something to search" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group sorting text-right">
                    Sort By:
                    <div class="btn-group">
                        <label class="btn btn-default" ng-class="{'active': $ctrl.sorting == 'transactionDate'}">
                            <input type="radio" name="options" ng-model="$ctrl.sorting" value="transactionDate" /> Date
                        </label>
                        <label class="btn btn-default" ng-class="{'active': $ctrl.sorting == 'merchant'}">
                            <input type="radio" name="options" ng-model="$ctrl.sorting" value="merchant" /> Merchant
                        </label>
                        <label class="btn btn-default" ng-class="{'active': $ctrl.sorting == 'amount'}">
                            <input type="radio" name="options" ng-model="$ctrl.sorting" value="amount" /> Amount
                        </label>
                    </div>

                    <div class="btn-group">
                        <label class="btn btn-default" title="asc" ng-class="{'active': $ctrl.sortingOrder == 'asc'}">
                            <input type="radio" name="options" ng-model="$ctrl.sortingOrder" value="asc" />
                            <i class="glyphicon glyphicon-sort-by-attributes"></i>
                        </label>
                        <label class="btn btn-default" title="desc" ng-class="{'active': $ctrl.sortingOrder == 'desc'}">
                            <input type="radio" name="options" ng-model="$ctrl.sortingOrder" value="desc" />
                            <i class="glyphicon glyphicon-sort-by-attributes-alt"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="transaction in $ctrl.transactions | filter:{merchant : $ctrl.filter} | orderBy:$ctrl.sorting:$ctrl.sortingOrder=='desc'"
            class="row transaction-item" style="border-left:8px solid {{transaction.categoryCode}}">
            <div class="col-sm-2 date">{{transaction.transactionDate | date:'MMM. dd'}}</div>
            <div class="col-sm-1 icon">
                <img ng-src="{{transaction.merchantLogo}}" />
            </div>
            <div class="col-sm-6 desc">
                <h5>{{transaction.merchant}}</h5>
                <p>{{transaction.transactionType}}</p>
            </div>
            <div class="col-sm-3 amount">{{"-$"}}{{transaction.amount | number:2}}</div>
        </div>
    </div>
</div>