// Path
$pt-root-images-dir             : "/assets/images";

// Colors
$pt-color-first                 : #ee7033;
$pt-color-second                : #0c8397;
$pt-color-gray                  : #d6d2ce;
$pt-color-white                 : #FFFFFF;
$pt-color-orange-dark           : #e25a2c;

