/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/general/_pt-panel.scss */
.pt-panel {
  border: none;
  border-radius: 0px;
  box-shadow: 0px 0px 15px #777;
}
/* line 6, ../scss/general/_pt-panel.scss */
.pt-panel .panel-heading {
  border-radius: 0px;
  color: #FFFFFF;
  text-align: center;
  background-color: #0c8397;
  line-height: 30px;
  color: #eee;
}
/* line 14, ../scss/general/_pt-panel.scss */
.pt-panel .panel-heading .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  left: 30px;
  top: 15px;
}
/* line 27, ../scss/general/_pt-panel.scss */
.pt-panel .panel-body {
  border-radius: 0px;
}

/* line 1, ../scss/general/_forms.scss */
.form-group {
  margin: 10px 0px 30px;
}
/* line 3, ../scss/general/_forms.scss */
.form-group label {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 11px;
}
/* line 10, ../scss/general/_forms.scss */
.form-group .form-control, .form-group .form-control-static {
  outline: none;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  padding-right: 0px;
  padding-left: 0px;
  color: #666;
  border-bottom: 1px solid #d6d2ce;
}
/* line 21, ../scss/general/_forms.scss */
.form-group .form-control[disabled], .form-group .form-control-static[disabled] {
  background: transparent;
}

/* line 27, ../scss/general/_forms.scss */
.btn {
  outline: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 20px;
}
/* line 34, ../scss/general/_forms.scss */
.btn.btn-primary {
  background-color: #ee7033;
  border-color: #ee7033;
}
/* line 38, ../scss/general/_forms.scss */
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  background-color: #e25a2c;
  border-color: #ee7033;
  outline: none;
}

/* line 3, ../scss/general/_modals.scss */
.modal .modal-dialog .modal-header {
  background: #0c8397;
  color: #FFFFFF;
}

/* line 1, ../scss/components/_pt-navbar.scss */
.peachtree-navbar {
  background: #FFFFFF;
  border-bottom: 2px solid #ee7033;
}
/* line 5, ../scss/components/_pt-navbar.scss */
.peachtree-navbar .navbar-brand {
  height: 55px;
}
/* line 8, ../scss/components/_pt-navbar.scss */
.peachtree-navbar .navbar-brand img {
  height: 100%;
}

/* line 5, ../scss/components/_pt-transfer-form.scss */
.pt-panel.pt-transfer-form .panel-heading .icon.icon-arrows {
  background-image: url(/assets/images/arrows.png);
}
/* line 12, ../scss/components/_pt-transfer-form.scss */
.pt-panel.pt-transfer-form .btn.btn-primary {
  padding-right: 50px;
  padding-left: 50px;
}

/* line 5, ../scss/components/_pt-transactions-list.scss */
.pt-panel.pt-transactions-list .panel-heading .icon.icon-briefcase {
  background-image: url(/assets/images/briefcase.png);
}
/* line 13, ../scss/components/_pt-transactions-list.scss */
.pt-panel.pt-transactions-list .sorting .btn.focus, .pt-panel.pt-transactions-list .sorting .btn:hover, .pt-panel.pt-transactions-list .sorting .btn:active, .pt-panel.pt-transactions-list .sorting .btn:focus {
  outline: none;
}
/* line 19, ../scss/components/_pt-transactions-list.scss */
.pt-panel.pt-transactions-list .sorting input[type=radio] {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}
/* line 31, ../scss/components/_pt-transactions-list.scss */
.pt-panel.pt-transactions-list .transaction-item {
  border: 1px solid #d6d2ce;
  border-bottom: none;
  padding: 7px 10px;
  margin: 0px;
  border-left: 8px solid #333;
}
/* line 38, ../scss/components/_pt-transactions-list.scss */
.pt-panel.pt-transactions-list .transaction-item .date, .pt-panel.pt-transactions-list .transaction-item .amount {
  line-height: 40px;
}
/* line 42, ../scss/components/_pt-transactions-list.scss */
.pt-panel.pt-transactions-list .transaction-item .amount {
  text-align: right;
  font-weight: bold;
}
/* line 48, ../scss/components/_pt-transactions-list.scss */
.pt-panel.pt-transactions-list .transaction-item .icon img {
  height: 40px;
  width: 40px;
}
/* line 55, ../scss/components/_pt-transactions-list.scss */
.pt-panel.pt-transactions-list .transaction-item .desc h5 {
  font-size: 18px;
  padding-bottom: 3px;
  padding-top: 4px;
}
/* line 61, ../scss/components/_pt-transactions-list.scss */
.pt-panel.pt-transactions-list .transaction-item .desc p {
  font-size: 11px;
}
/* line 66, ../scss/components/_pt-transactions-list.scss */
.pt-panel.pt-transactions-list .transaction-item:last-child {
  border-bottom: 1px solid #d6d2ce;
}

/* line 14, ../scss/theme-style.scss */
body {
  background-image: url(/assets/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
